{% extends "blog/base.html" %}

{% block title %}分类{% endblock %}

{% block content %}
    <div class="content">
        <div id="app">

        </div>
    </div>

    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination a {
            margin: 0 10px;
            text-decoration: none;
            color: #007bff;
        }

        .pagination span {
            margin: 0 10px;
        }

        .post-link {
            color: #013a75; /* 深蓝色 */
            text-decoration: none; /* 去掉下划线 */
        }

        .post-link:hover {
            color: #fa4141; /* 鼠标悬停时变为红色 */
        }
    </style>

{% endblock %}
